# source me before running the webserver

# app settings, see https://soundcloud.com/you/apps
export SNDCLD_CLIENT_ID='foo'
export SNDCLD_CLIENT_SECRET='bar'
export SNDCLD_CALLBACK_URL='https://localhost:3000/auth/callback'

# run `bin/create_self_signed_certificate ./ssl`
export SNDCLD_SSL_PATH="${PWD}/ssl"
