{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-mixed-requires": 0,
    "new-cap": 0,
    "no-shadow": 1,
    "dot-notation": [2, {"allowPattern": "^[a-z]+(_[a-z]+)+$"}]
  }
}
