<!DOCTYPE html>
<html lang="en-us">
  <head>
    <% include ../partials/head %>
    <title>sndcld - home</title>
</head>
  <body>
    <% include ../partials/header %>

    <% include ../partials/footer %>
  </body>
</html>
