<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>sndcld</title>

    <link rel="stylesheet" href="vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="vendor/foundation/css/foundation.css">

    <script src="vendor/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">sndcld</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if (!user) { %>
          <li><a href="/auth">Sign in</a></li>
          <% } else { %>
          <li><a href="#">Hi, <%= user.name %> !</a></li>
          <% } %>
        </ul>

        <ul class="left">
          <li><a id="stream" href="#">Stream</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a href="#">Likes</a></li>
        </ul>
      </section>
    </nav>
    <% if (collection) { %>
      <% collection.forEach(function (track) { %>
    <article>
      <%- track.html %>
    </article>
      <% }); %>
    <% } %>

    <script src="vendor/foundation/js/vendor/jquery.js"></script>
    <script src="vendor/foundation/js/foundation.js"></script>
    <script src="https://connect.soundcloud.com/sdk.js"></script>
    <script>
      $(document).foundation();

      document.querySelector('#stream').addEventListener('click', function () {
        $.ajax('/stream').done(function (data) {
          console.log(data)
          SC.oEmbed(data[0].origin.permalink_url, { auto_play: true }, function(oEmbed) {
            console.log(oEmbed.html);
          });
        });
      });
    </script>
  </body>
</html>
