<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>sndcld - {{title}}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="vendor/foundation/css/foundation.css">

    <script src="vendor/foundation/js/vendor/modernizr.js"></script>
</head>
  <body>
    {{{body}}}

    <script async data-main="js/main" src="vendor/requirejs/require.js"></script>
  </body>
</html>
